<section class="bg-background  min-h-full  flex items-center">
    <div class="flex flex-col items-center max-w-sm mx-auto text-center">
        <h1 class="mt-3 text-2xl font-semibold md:text-3xl">Pagina no encontrada</h1>
        <a href="/">
            <button class="mt-5 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 rounded-lg shrink-0 sm:w-auto bg-primary hover:bg-secondary">
                Volver
            </button>
        </a>
    </div>
</section>